{% extends 'index.html' %}
{% block body %}
    <div class="container mt-3">
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th style="width: 5%;">#</th>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th style="width: 5%;">Grupo</th>
                        <th style="width: 5%;">Facultad</th>
                        <th style="width: 15%;">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>



                        <td class="text-center">1</td>
                        <td class="text-center">{{result}}</td>
                        <td class="text-center">Roque Sañudo</td>
                        <td>1403</td>
                        <td class="text-center">1</td>
                        <td class="text-center"><a class="mx-1 btn" href="#"><i class="fa fa-edit"></i></a><a class="mx-1 btn" href="#"><i class="fa fa-trash"></i></a><a class="mx-1" href="#"></a></td>

                    </tr>
                    <tr></tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock body %}    